<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Siwu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C7D3DFA1D5349CA00D21B5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C7D3E0E1D5349CA00D21B5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C7D3E191D5349CA00D21B5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
